.header-title {
    background-image: url("./logo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.header-title__title {
    font-size: 4rem;
}

.header-title__next {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    align-items: center;
}

.header-title__next__text {
    max-width: 90vw;
}

.header-title__next__button {
    font-size: 5rem;
}