.graphic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graphic__options {
    width: 100%;
    min-height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: dodgerblue;
}

.graphic__options__options {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.graphic__map {
    width: 90vw;
    height: 90vh;
}

.graphic__economic-data {
    margin-top: 1rem;
    padding: 1rem;
    font-weight: 1.5rem;
    background-color: rgb(196, 196, 196);
    border-radius: 0.3rem;
}